@font-face {
  font-family: 'Game of Thrones';
  src: url(../../assets/fonts/GameofThrones.ttf);
}

@font-face {
  font-family: Lato;
  src: url(../../assets//fonts/Lato-Light.ttf);
}

:root {
  --font: 'Game of Thrones';
  --font-data: Lato;
}

.font {
  font-family: var(--font);
  font-weight: 100;
  color: #fff;
  letter-spacing: 1.9px;
}

.font-data {
  font-family: var(--font-data);
  font-size: 16px;
}
