@font-face {
  font-family: 'Game of Thrones';
  src: url(../../assets/fonts/GameofThrones.ttf);
}

:root {
  --font: 'Game of Thrones';
}

.font {
  font-family: var(--font);
  font-weight: 100;
  color: #fff;
  letter-spacing: 1.9px;
}
