<section class="characterDetails__container">
  <a routerLink="/characters" class="back">
    <img src="../../../assets/images/arrow.svg" />
    <p class="font-data">{{ "VOLVER" | translate }}</p></a
  >
  <section class="characterDetails">
    <div class="characterDetails__img">
      <img src="{{ character.image }}" alt="{{ character.name }}" />
    </div>
    <h1 class="font">{{ character.name }}</h1>

    <div class="characterDetails__info">
      <div class="characterDetails__info--text">
        <h2>{{ "CASA" | translate }}</h2>
        <ngx-simplebar [options]="options">
          <img
            *ngIf="house"
            src="{{ house[0].logoURL }}"
            alt="{{ house[0].name }}"
            class="logo-house"
          />
        </ngx-simplebar>
      </div>

      <div class="characterDetails__info--text">
        <h2>{{ "ALIANZAS" | translate }}</h2>
        <ngx-simplebar [options]="options">
          <p *ngFor="let allegiance of character.allegiances" class="font-data">
            {{ allegiance }}
          </p>
        </ngx-simplebar>
      </div>

      <div class="characterDetails__info--text">
        <h2>{{ "APARICIONES" | translate }}</h2>
        <ngx-simplebar [options]="options">
          <p *ngFor="let appearance of character.appearances" class="font-data">
            {{ appearance }}
          </p>
        </ngx-simplebar>
      </div>

      <div class="characterDetails__info--text">
        <h2>{{ "FATHER" | translate }}</h2>
        <ngx-simplebar [options]="options">
          <p class="font-data">{{ character.father }}</p>
        </ngx-simplebar>
      </div>

      <div class="characterDetails__info--text">
        <h2>{{ "HERMANOS" | translate }}</h2>
        <ngx-simplebar [options]="options">
          <p *ngFor="let sibling of character.siblings" class="font-data">
            {{ sibling }}
          </p>
        </ngx-simplebar>
      </div>

      <div class="characterDetails__info--text">
        <h2>{{ "TITLES" | translate }}</h2>
        <ngx-simplebar [options]="options">
          <p *ngFor="let title of character.titles" class="font-data">
            {{ title }}
          </p>
        </ngx-simplebar>
      </div>
    </div>
  </section>
</section>
