.home {
  background-image: url(../../../assets/images/bcg.svg);
  background-size: cover;
  height: -webkit-fill-available;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__heading {
  font-size: 110px;
  max-width: 1013px;
  text-align: center;
  @media (max-width: 700px) {
    font-size: 44px;
  }
  @media (max-width: 600px) {
    font-size: 52px;
    max-width: 500px;
  }
}
