.container{
  height: 100vh;
  overflow: hidden;
  max-width: 1300px;
  margin: 0 auto;
}

ngx-simplebar {
  height: 78vh;
}

::ng-deep .simplebar-scrollbar::before {
  background-color: #fff !important;
}

input {
  width: 500px;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  position: relative;
  padding: 10px 0 10px 37px;
  color: #fff;
  @media (max-width: 800px) {
    width: 300px;
  }
  @media (max-width: 600px) {
    width: 150px;
  }
}


.logo-search {
  position: absolute;
  top: 30px;
  height: 15px;
}


.header__container {
    display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  img {
    width: 30px;
  }
}

.logo-home {
  @media (max-width: 576px) {
    display: none;
  }
}

.gallery-houses{
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-right: 40px;
    @media (max-width: 576px) {
      margin-right: 10px;
    }
}

.gallery-houses__card{
    width: calc(16% - 20px);
    padding: 14px;
    text-align: center;
    @media (max-width: 1000px) {
      width: calc(33.333% - 24px);
    }
    @media (max-width: 600px) {
      width: calc(50% - 24px);
    }
}

img {
    width: 100%;
    margin-bottom: 12px
  }

a{
    font-size: 12px;
    line-height: 1.8;
    letter-spacing: normal;
    color: var(--white);
    text-decoration: none;
    text-align: center;
    cursor: pointer;

}
