<div class="container">
  <div class="header__container">
    <input
      type="text"
      name="filterPost"
      [(ngModel)]="filterPost"
      placeholder="{{ 'BUSCAR' | translate }}"
    />
    <img src="../../../../assets/images/search.svg" class="logo-search" />
    <a routerLink="/"><img src="../../../../assets/images/home.svg" /></a>
  </div>
  <ngx-simplebar [options]="options">
    <section class="gallery-houses">
      <div
        *ngFor="let house of houses | filterHouses: filterPost"
        class="gallery-houses__card"
      >
        <img *ngIf="!house.logoURL" src="{{ imgDefault }}" />
        <img *ngIf="house.logoURL" src="{{ house.logoURL }}" />
        <a routerLink="/houses/{{ house.name }}">{{ house.name }}</a>
      </div>
    </section>
  </ngx-simplebar>
</div>
<app-footer></app-footer>
