.header__container {
    display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  img {
    width: 30px;
  }
}

.gallery-houses{
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    flex-direction: row;
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

.gallery-houses__card{
     width: calc(16% - 20px);
    padding: 14px;
    text-align: center;

}

img {
    width: 100%;
    margin-bottom: 12px
  }

a{
    font-size: 12px;
    line-height: 1.8;
    letter-spacing: normal;
    color: var(--white);
    text-decoration: none;
    width: 100%;
    text-align: center;

}
