<main class="characters">
  <div class="header__container">
    <input type="text" name="filterPost" [(ngModel)]="filterPost">
    <a routerLink="/"><img src="../../../../assets/images/home.svg" /></a>
  </div>
  <ngx-simplebar [options]="options">
      <section *ngIf="characters" id="gallery-characters" class="gallery-characters">
        <div
          *ngFor="let character of characters | filterCharacters:filterPost"
          class="gallery-characters__card"
        >
          <a routerLink="/characters/{{ character.name }}">
            <p>{{ character.name }}</p>
            <img
              *ngIf="!character.image"
              src="{{ imgDefault }}"
              class="default"
            />
            <img src="{{ character.image }}" />
          </a>
        </div>
      </section>
  </ngx-simplebar>
  </main>
