.footer {
  position: fixed;
  bottom: -10px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style: none;
  padding: 40px 0;
  margin: 0;
  z-index: 1;
  a {
    color: #fff;
    text-decoration: none;
    font-weight: 100;
    font-size: 20px;
    @media (max-width: 576px) {
      font-size: 14px;
    }
  }
}

.router-link-active {
  border-bottom: 1px solid #fff;
}


